.band {
  padding: 5em;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}


.band--primary {
  @include make-band(#FFF, $brand-primary);
}

.band--sexy {
  @include make-band(#FFF, $sexy-color);
}

.band--image {
  color: #FFF;
  @include pre-cover();
}
