@mixin make-btn($radius: $buttons-radius,
  $width: $buttons-border-width,
  $border-style: $buttons-border-style,
  $align: $buttons-text-align,
  $font-family: $buttons-font-family,
  $v-padding: $buttons-vertical-padding,
  $h-padding: $buttons-horizontal-padding,
  $text-transform: $buttons-text-transform) {

  border-style: $border-style;
  border-radius: $radius;
  border-width: $buttons-border-width;
  text-align: $align;
  padding: $v-padding $h-padding;
  display: inline-block;
  text-transform: $buttons-text-transform;
}

@mixin make-btn--default($bg-color, $font-color: $buttons-default-color) {
  background-color: $bg-color;
  border-color: $bg-color;
  color: $font-color;
  &:hover {
    background-color: darken($bg-color, 15%);
    border-color: darken($bg-color, 15%);
  }
}

@mixin make-btn--outline($bg-color: transparent, $font-color: $buttons-default-color) {
  background-color: $bg-color;
  border-color: $font-color;
  color: $font-color;
  &:hover {
    background: $font-color;
    border-color: $font-color;
    color: $bg-color;
  }
}

a.btn,
button.btn,
input.btn {
  @include make-btn();
  cursor: pointer;
  white-space: normal;

  &:hover {
    transition: all .3s linear;
  }
}

.btn + .btn {
  margin-top: 1em;
}

.btn--default {
  @include make-btn--default($brand-primary, $buttons-default-color);
}

.btn--outline {
  @include make-btn--outline($buttons-default-color, $grey-dark);
}

.btn--sexy {
  @include make-btn--default($sexy-color, $buttons-default-color);
}

.btn--outline--sexy {
  @include make-btn--outline($buttons-default-color, $sexy-color);
}

.btn--full {
  display: block;
  width: 100%;
}

.btn--sm {
  font-size: .8em;
}

.btn--xs {
  font-size: .5em;
}

.btn--lg {
  font-size: 1.2em;
}
