code,
.code {
  color: $sexy-color;
  padding: 0 .2em;
  border-radius: 2px;
  background: $grey-lighter;
  text-shadow: 0px 1px $grey-lighter;
}

pre {
  //border: 1px solid lighten($grey-light, 15%);
  background: $grey-lighter;
  code {
    background: transparent;
    display: block;
    border: none;
  }
}
