@mixin make-container() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $gutter;
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  @each $size, $value in $grid-breakpoints {
    @media (min-width: $value) {
      max-width: map-get($container-max-widths, $size);
    }
  }
}

@mixin make-container-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin make-content() {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: $gutter;
  &::after {
    content: "";
    display: table;
    clear: both;
  }

  @each $size, $value in $grid-breakpoints {
    @media (min-width: $value) {
      max-width: map-get($content-max-widths, $size);
    }
  }
}

@mixin pre-cover() {
  > * {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
  }
}

@mixin make-band($color: #FFF, $bg: $brand-primary) {
  color: $color;
  background-color: $brand-primary;
}

@mixin make-circle {
  border-radius: 50% !important;
}

@mixin clearfix {
  // From Bootstrap
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
