html,
body {
  font-size: $base-font-size;
  color: $font-base-color;
  height: 100%;
  letter-spacing: 0.01rem;
  margin: 0;
  padding: 0;
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 2em auto;
}



::selection {
  background: $highlight-color; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $highlight-color; /* Gecko Browsers */
}

.container {
@include make-container();
}

.container-full {

}
