/* Text elements */
p {
  line-height: 1.5em;
  margin-top: 0;
  font-size: 1.1em;
  font-weight: 300;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
}

b,
strong {
  color: $grey-dark;
  font-weight: 700;
}

em {
  font-style: italic;
  color: $grey-light;
}

mark {
  background: $highlight-color;
}

blockquote {
  position: relative;
  display: block;
  margin: 3.1em 0 2em 3em;
  quotes: none;

  &::before {
    content: '“';
    color: $quotes-color;
    position: absolute;
    left: -.6em;
    top: -.5em;
    font-size: 5rem;
  }
  p {
    color: $grey;
    font-size: 1.2em;
    word-wrap: break-word;
    font-weight: lighter;
    margin: 0 0 1.60em 0;
    span {
      display: block;
      margin-top: .5em;
      &::before {
        content: '-';
        position: relative;
        padding-right: .2em;
      }
    }
  }
}

ul,
ol {
  margin: 1.5em 0;
  li {
    line-height: 2em;
    a {
    }
  }
}
