/* Base colors */

$grey: #3A4145;
$grey-dark: darken($grey, 2%);
$grey-light: lighten($grey, 25%);
$grey-lighter: lighten($grey-light, 45%);

$brand-primary: #10599D;

$link-color: $grey-dark;

$quotes-color: $grey;
$highlight-color: #FDD638;

/* Fonts */
$font-sans-serif: 'Open Sans', sans-serif;
$font-serif: 'Droid Serif', serif;;

$base-font-size: 16px;
$font-base-color: $grey;





/* Sizes and spaces */
$gutter: 1em;
$container-padding: $gutter;

/* Breakpoints */
// based on Twitter Bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;
