/* Base colors */

$grey: #606c76 !default;
$grey-dark: darken($grey, 10%) !default;
$grey-light:  #d1d1d1 !default;
$grey-lighter: #f4f5f6 !default;

$sexy-color: #e50c39; // Try to have always have some sexy CSS

/** Default colors **/
$brand-primary: #5ba4e5;

$link-color: $brand-primary;

$quotes-color: $grey-light;
$highlight-color: #FDD638;
$code-color: $sexy-color;

/* Fonts */
$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'Droid Serif', serif;;

$base-font-size: 1.6em;
$font-base-color: $grey;

/* Buttons */
$buttons-default-color: #FFF;
$buttons-radius: 3px;
$buttons-border-width: 1px;
$buttons-border-style: solid;
$buttons-text-align: center;
$buttons-font-family: $font-sans-serif;
$buttons-vertical-padding: .7em;
$buttons-horizontal-padding: 1em;
$buttons-text-transform: none;




/* Grid */
$columns-num: 12;
$grid-gap: .5em;




/* Sizes and spaces */
$gutter: 1em;
$container-padding: $gutter;

/* Breakpoints */
// based on Twitter Bootstrap
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;

$content-max-widths: (
  sm: 556px,
  md: 700px,
  lg: 890px,
  xl: 900px
) !default;
