@import "main.scss";

.main-header {
  background-color: $grey-lighter;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  @include pre-cover();
}

.main-header__title,
.main-header__description {
  text-align: center;
}

.main-header__title {
  color: #FFF;
  margin-bottom: .2em;
  margin-top: 3em;
}

.main-header__title--highlight {
  background-color: $sexy-color;
  color: #FFF;
  padding: 0 .1em;
  margin-left: .2em;
}

.main-header__description {
  color: #FFF;
}

.main-header--half {
  min-height: 50vh;
}

.main-footer {
  background-color: $grey-dark;
  color: $grey-lighter;

  a {
    color: #FFF;
  }
}

.grid--sexy {
  [class^="col-"],
  [class^=" col-"] {
    background-color: $sexy-color;
    color: #FFF;
    text-align: center;
  }
}

.sidebar{}

.sidebar__title{
  background: $brand-primary;
  color: #FFF;
  text-align: center;
}

.nav__docs__elements{
  ul {
    li {
      a{
        color: $sexy-color;
      }
    }
  }
}

.band {
  padding: 5em;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.band--primary {
  color: #FFF;
  background: $brand-primary;
}

.band--sexy {
  color: #FFF;
  background: $sexy-color;
}

.band--image {
  color: #FFF;
  @include pre-cover();
}

.band__title {
  margin-bottom: 0;
}
