@import "main.scss";

.main-header {
  background-color: $grey-lighter;
}

.main-header__title,
.main-header__description {
  text-align: center;
}

.main-header__title {
  color: $grey;
  margin-bottom: .2em;
}

.main-header__title--highlight {
  color: $brand-primary;
}

.main-header__description {
  color: $grey-light;
}

.main-footer {
  background-color: $grey-dark;
  color: $grey-lighter;
}
